<div id="Survey " class="tab-pane">
            <h1>NASA Task Load Index</h1>
            <!-- Survey content goes here -->
            <i>
            Hart and Staveland's NASA Task Load Index (TLX) method assesses work load on a scale ranging from 1 (very low) to 5 (very high). 
            </i>
            <br>
            <br>
              Mental Demand: How mentally demanding was the task?
              <form action="" name="orderForm_mental">
                <input type="RADIO" name="myColor" value="1" checked> Very Low
                <input type="RADIO" name="myColor" value="2"> Low
                <input type="RADIO" name="myColor" value="3"> Moderate
                <input type="RADIO" name="myColor" value="4"> High
                <input type="RADIO" name="myColor" value="5"> Very High
              </form>
              <br>
              Physical Demand: How physically demanding was the task?
              <form action="" name="orderForm_physical">
                <input type="RADIO" name="myColor" value="1" checked> Very Low
                <input type="RADIO" name="myColor" value="2"> Low
                <input type="RADIO" name="myColor" value="3"> Moderate
                <input type="RADIO" name="myColor" value="4"> High
                <input type="RADIO" name="myColor" value="5"> Very High
              </form>
              <br>
              Temporal Demand: How hurried or rushed was the pace of the task?
              <form action="" name="orderForm_temporal">
                <input type="RADIO" name="myColor" value="1" checked> Very Low
                <input type="RADIO" name="myColor" value="2"> Low
                <input type="RADIO" name="myColor" value="3"> Moderate
                <input type="RADIO" name="myColor" value="4"> High
                <input type="RADIO" name="myColor" value="5"> Very High
              </form>
              <br>
              Performance: How successful were you in accomplishing what you were asked to do?
              <form action="" name="orderForm_performance">
                <input type="RADIO" name="myColor" value="1" checked> Very Low
                <input type="RADIO" name="myColor" value="2"> Low
                <input type="RADIO" name="myColor" value="3"> Moderate
                <input type="RADIO" name="myColor" value="4"> High
                <input type="RADIO" name="myColor" value="5"> Very High
              </form>
              <br>
              Effort: How hard did you have to work to accomplish your level of performance?
              <form action="" name="orderForm_effort">
                <input type="RADIO" name="myColor" value="1" checked> Very Low
                <input type="RADIO" name="myColor" value="2"> Low
                <input type="RADIO" name="myColor" value="3"> Moderate
                <input type="RADIO" name="myColor" value="4"> High
                <input type="RADIO" name="myColor" value="5"> Very High
              </form>
              <br>  
              Frustration: How insecure, discouraged, irritated, stressed, and annoyed were you?
              <form action="" name="orderForm_frustration">
                <input type="RADIO" name="myColor" value="1" checked> Very Low
                <input type="RADIO" name="myColor" value="2"> Low
                <input type="RADIO" name="myColor" value="3"> Moderate
                <input type="RADIO" name="myColor" value="4"> High
                <input type="RADIO" name="myColor" value="5"> Very High
              </form>
              <br>
              <button id="next" type="button" class="btn btn-default">Next</button>

          </div>   