<div class="row">
    <div class="col-lg-10" id="layoutColumn">
        <img class="unselectable img-responsive" id="layoutImg" src="img/tabs/home_tab.png" />
    </div>
    <div class="col-lg-2 text-center" id="infoColumn">
        <div class="text-center">
            <img id="commandImg" class="unselectable" src="img/icons/bold.png" />
        </div>
        <p id="commandDescription">bold</p>
        <button id="next" type="button" class="btn btn-default">Skip (testing only)</button>
    </div>
</div>