<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="text-center">
            <h2>To begin, press the start button below.</h2>
            <button id="next" type="button" class="btn btn-lg btn-default">Start</button>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>