<div style="width:200px;height:100px;position:absolute;left:50%;top:50%;
margin-left:-50px;margin-top:-50px;text-align:center;">
    <h1>Start</h1>
    <br>
    <button id="next" type="button" class="btn btn-default">Next</button>
</div>