<row id="thankyou">
    <div class="col-lg-12">
        <div class="text-center">
            <div class="row">
                <h1>Thank You!</h1>
            </div>
            <div class="row">
                <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <div class=" addPadding">
                            <div class="panel panel-success">
                            <div id="commandDescription" class="panel-heading text-center">Survey Completion Code</div>
                            <div class="panel-body text-center">
                                <b>{{session}}</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4"></div>
            </div>

        </div>
    </div>
</row>